.add-task-container {
    margin: 2%;
}

.button {
    width: 100px;
    height: 30px;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 0.5% 0 0.5%;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.add-button {
    background: rgb(96, 9, 240);
    background: linear-gradient(0deg, rgba(96, 9, 240, 1) 0%, rgba(129, 5, 240, 1) 100%);
    border: none;

}

.add-button:before {
    height: 0%;
    width: 2px;
}

.add-button:hover {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}


.filter-button {
    background: rgb(165, 165, 165);
    background: linear-gradient(0deg, rgba(165, 165, 165, 1) 0%, rgb(123, 123, 123) 100%);
    border: none;

}

.filter-button:before {
    height: 0%;
    width: 2px;
}

.filter-button:hover {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.input-task {
    width: 25%;
    height: 25px;
    border-radius: 4px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 10px;
}